@import "stylesheet";

@mixin mixin($arg, $list) {
  &::before {
    content: $arg;
  }
}

.foobar {
  $num: 123;
  $var: "string#{$num}";
  $bdr: 1px solid $red3;

  @include mixin($var, webkit osx);

  color: #75715E;
  border: $bdr;

  &::before {
    color: red;
  }

  &.pt-active:first-child:not(:hover) {

  }
}
